body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #264653;
    width: 100vw;
    height: 100vh;
}

#calculator {
    background-color: #1C323B;
    border-radius: 10px;
    padding: 15px
}

#toprow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#displayarea {
    width: 170px;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #ccd5ae;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 800;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#previous {
    color: darkslategray;
    height: 14x;
    padding: 0px 5px;
    font-size: 14px;
}

#current {
    height: 22px;
    padding: 5px;
    font-size: 22px;
}

.clear {
    border: solid 3px grey;
    background-color: #ccd5ae;
    color: black;
}

.clear:hover {
    background-color: grey;
    color: white
}

button {
    border-radius: 5px;
    background-color: #1C323B;
    color: white;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
}

.number,
.decimal {
    border: solid 3px #2a9d8f;
}

.number:hover,
.decimal:hover {
    background-color: #2a9d8f;
    color: #1C323B;
}

.operator {
    border: solid 3px #f4a261;
}

.operator:hover {
    background-color: #f4a261;
    color: #1C323B;
}

.equal {
    border: solid 3px #e76f51;
}

.equal:hover {
    background-color: #e76f51;
    color: #1C323B;
}