body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #264653;
}

#calculator {
    text-align: center;
    margin: 0 auto;
    background-color: #1C323B;
    border: 1px solid #1C323B;
    border-radius: 10px;
    width: 200px;
    padding: 15px
}


#displayarea {
    text-align: right;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    margin: auto;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #ccd5ae;
    font-weight: 800;
    width 200px;
}

#toprow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-bottom: 10px;
}

#numbersection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#previous {
    color: darkslategray;
    height: 15px;
    width: 120px;
    padding: 2px;
}

#current {
    height: 15px;
    width: 120px;
    padding: 2px;
}

#clear {
    border: solid 3px grey;
    border-radius: 5px;
    background-color: #ccd5ae;
    color: black;
    font-weight: bold;
    width: 30px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
}

.number,
.decimal {
    border: solid 3px #2a9d8f;
    border-radius: 5px;
    background-color: #1C323B;
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    margin: 3px;
    font-family: 'Roboto', sans-serif;
}


.operator {
    border: solid 3px #f4a261;
    border-radius: 5px;
    background-color: #1C323B;
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    margin: 3px;
    font-family: 'Roboto', sans-serif;
}

.equal {
    border: solid 3px #e76f51;
    border-radius: 5px;
    background-color: #1C323B;
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    margin: 3px;
    font-family: 'Roboto', sans-serif;
}